@using KSTU.Web.Models
@model HierarchicalCreateVM
@{
    ViewData["Title"] = "Иерархический метод кластеризации";
}

<h1>@ViewData["Title"]</h1>

<section class="content container-fluid">
    <div class="row">
        <form asp-action="ShowResult" asp-controller="Hierarchical" method="post" enctype="multipart/form-data">
            <div class="form-group" style="width:61%">
                <label asp-for="CountOfUnionsInStep" class="control-label"></label>
                <input asp-for="CountOfUnionsInStep" class="form-control"/>
                <span asp-validation-for="CountOfUnionsInStep" class="text-danger"></span>
            </div>
            <div class="form-inline">
                <select asp-for="DistanceType" class="form-control">
                    <option value="1">Евклидово расстояние</option>
                    <option value="2">Квадрат Евклидова расстояния</option>
                    <option value="3">Расстояние городских кварталов(Манхэттенское растояние)</option>
                    <option value="4">Расстояние Чебышева</option>
                </select>
                &nbsp;&nbsp;&nbsp;
                <img id="image" src="~/logo/1.png" />
            </div>
            <div class="form-group" style="width:61%">
                <label asp-for="ClusterUnionType" class="control-label"></label>
                <select asp-for="ClusterUnionType" class="form-control">
                    <option value="1">Одиночная связь (расстояния ближайшего соседа)</option>
                    <option value="2">Полная связь (расстояние наиболее удаленных соседей)</option>
                    <option value="3">Невзвешенное попарное среднее</option>
                    <option value="4">Невзвешенный центроидный методs</option>
                </select>
                <span asp-validation-for="ClusterUnionType" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:61%">
                <label asp-for="DataType" class="control-label"></label>
                <select asp-for="DataType" class="select form-control">
                    <option value="2">Excel файл(.xlsx,.xls)</option>
                    <option value="1">Текстовый файл(.txt)</option>
                </select>
            </div>
            <div class="form-group" style="width:61%">
                <label asp-for="UploadFile" class="control-label"></label>
                <input asp-for="UploadFile" class="form-control-file" accept=".xlsx, .xls" />
            </div>
            <div class="form-group">
                <input type="submit" id="saveBtn" value="Clustering" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#DataType').change(function () {
            var type = $(this).val();

            if (type == 1)
                $('#UploadFile').attr('accept', '.txt');
            else
                $('#UploadFile').attr('accept', '.xlsx, .xls');
        })

        $('#DistanceType').change(function () {
            var type = $(this).val();
            $('#image').attr('src', '/logo/' + type + '.png');
        })
    });

</script>