<section class="content-header"></section>

<section class="content container-fluid">
    <a class="nav-link text-dark" asp-controller="Hierarchical" asp-action="Create">Произвести кластеризацию</a>
</section>