@using KSTU.Web.Models
@model KMeansCreateVM
@{
    ViewData["Title"] = "Метод К-Средних";
}

<h1>@ViewData["Title"]</h1>

<section class="content container-fluid">
    <div class="row">
        <form asp-action="ShowResult" asp-controller="KMeans" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ClustersCount" class="control-label"></label>
                <input asp-for="ClustersCount" type="number" class="form-control" />
                <span asp-validation-for="ClustersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceType" class="control-label"></label>
                <select asp-for="DistanceType" class="form-control">
                    <option value="1">Евклидово расстояние</option>
                    <option value="2">Квадрат Евклидова расстояния</option>
                    <option value="3">Расстояние городских кварталов(Манхэттенское растояние)</option>
                    <option value="4">Расстояние Чебышева</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DataType" class="control-label"></label>
                <select asp-for="DataType" class="select form-control">
                    <option value="1">Текстовый файл(.txt)</option>
                    <option value="2">Excel файл(.xlsx,.xls)</option>
            </select>
            </div>
            <div class="form-group">
                <label asp-for="UploadFile" class="control-label"></label>
                <input asp-for="UploadFile" class="form-control-file" accept=".txt,.xlsx,.xls" />
                <span asp-validation-for="UploadFile" class="text-danger"></span>
            </div>
            <input type="submit" value="Clutering" class="btn btn-primary" />
        </form>
    </div>
</section>